*{
    margin: 0%;
    font-family: 'Work Sans', sans-serif;
}
/* ........banner............. */

.banner-container{
    /* height: 100vh; */
    height: 808px;
    background-image: url(../images/banner/banner1.png);/* linear-gradient(rgba(0, 0, 0, 0.137),rgb(0, 0, 0)); */
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white; */
    /* background-blend-mode:overlay; */
    
}
.banner-items{

text-align: right;
padding-right: 230px;
/* padding: 216px 230px 364px 845px; */
    
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    padding: 216px 0px 0px 1000px;
    line-height:76.25px;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    line-height:26px;
    padding: 24px 0px 0px 1200px;
}

.contact-us-btn{
    border-radius: 5px;
    border: 0;
    margin-top: 32px;
    height: 60px;
    width: 190px;
    background: rgb(221, 77, 20);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    height: 80px
}
/* ................failure-container............. */
.failure-container{
    display: flex;
    gap: 250px;
    
}
.failure-container img{
    width: 469px;
    height: 623px;
    margin-top: 200px;
    margin-left: 306px;
    margin-bottom: 200px;
    border-radius: 50px;
}

ul li:before {
    content: '✓'; 
    color:#16D887;
    padding-right:5px;
}
.failure-container li{
    margin-top: 10px;
}
.failure-container ul{
    list-style: none;
    padding-left: 0;
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
     
}
.failure-container h3{
    color:#151414;
    margin-top: 330px;
    font-weight: 700;
    font-size: 50px;
    margin-right: 450px;
}
.failure-container p{
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height:26px;
    width: 416px;
    height: 104px;
}

/* ................plans................ */

.plans-section {
    margin:0px 230px 90px;
    text-align: center;
}

.plans-container {
    display: flex;
    gap:24px;
    justify-content: center;
    margin-top: 20px;
}
.plan{
    /* background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px; */
padding: 30px;

}



.plan-title {

    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
    color:#151414;
}
.plan-sub-title {

    font-weight: 700;
    font-size: 40px;
    color:#151414;
    margin-top: 10px;
    margin-bottom: 20px;
}
.plan-description{
    color: #757575;
    font-weight: 700;
    font-size: 25px;

}
